@charset "UTF-8";
/*头部开始*/
.header {
    background: transparent;
}

.header-left {
    float: left;
}

.header-left a{
    display: block;
    width: 162px;
    height: 68px;
    background: url("../images/logo.png");
    text-indent: -9999em;
}

.header-right {
    float: left;
    padding-left: 50px;
}

.header-right ul li {
    float: left;
    height: 68px;
    /*line-height: 68px;*/
    padding-right: 48px;
}

.header-right ul li a{
    display: block;
    line-height: 68px;
    font-size: 18px;
    color: #383B4A;
}
/*头部结束*/

/*banner开始*/

.banner {
    width: 1200px;
    height: 600px;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: relative;
}

.screen {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.screen li {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    float: left;
}

.screen ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 13440px;
}

.banner ol {
    position: absolute;
    right: 600px;
    bottom: 10px;
    line-height: 20px;
    text-align: center;
}

.banner ol li {
    float: left;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.banner ol li.current {
    background: red;
}

#arr {
    display: none;
}
#arr #left {
    width: 76px;
    height: 112px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}

#arr #right{
    width: 76px;
    height: 112px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}
/*banner结束*/